@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

:root {
	--mainColor: Teal;
	--secondaryColor: White;
	--mainFont: 'Saruban', sans-serif;
	--newColor: Black;
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background: var(--mainColor);
	color: var(--mainColor);
	font-family: var(--mainFont);
	display: flex;
	justify-content: center;
	align-items: center;
	// animation: changeBackground 3s forwards;
	transition: background 3s;
}

.quoteBox {
	width: 450px;
	padding: 40px 50px;
	border-radius: 3px;
	background: var(--secondaryColor);
	.quoteText {
		i {
			font-size: 1em;
			margin-right: 0.4em;
		}
		font-size: 2em;
		font-weight: 100;
		text-align: center;
	}
	.quoteAuthor {
		font-size: 1em;
		margin-top: 10px;
		text-align: right;
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		.socialMedia {
			display: flex;
		}
		.button {
			margin-top: 30px;
			border-radius: 3px;
			background: var(--mainColor);
			color: var(--secondaryColor);
			display: flex;
			justify-content: center;
			align-items: center;
			&#twitter,
			&#tumblr {
				height: 40px;
				width: 40px;
				margin-right: 5px;
			}
			&#newQuote {
				padding: 8px 16px;
				border: none;
				cursor: pointer;
			}
		}
	}
}

//**Animations**
.fadeOut {
	animation: fadeOut 0.5s;
}

.fadeIn {
	animation: fadeIn 1s;
}

@keyframes changeBackground {
	to {
		background: var(--newColor);
	}
}

.changeBackground {
	animation: changeBackground 1.5s forwards, changeColor 1.5s forwards;
}

@keyframes changeColor {
	to {
		color: var(--newColor);
	}
}

.changeColor {
	animation: changeColor 1.5s forwards;
}

//**Responsive Design**
//*Mobile*
@media screen and (max-width: 600px) {
	.quoteBox {
		width: 70vw;
	}
}
